<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>IT</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Problem</th>
                <th>Category_1</th>
                <th>Category_2</th>
                <th>Category_3</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.Problem }}</td>
                    <td>{{ row.Category_1}}</td>
                    <td>{{ row.Category_2}}</td>
                    <td>{{ row.Category_3}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>